
<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a b-slate-link href="https://ddiu.io" target="_blank"> Diu</a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo"
      target="_blank"
    >
      Source Code
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/bedimcode/retro-clock"
      target="_blank"
    >
      Clock Forked
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/itorr/sakana"
      target="_blank"
    >
      Sakana Forked
    </a>
  </p>
  <!-- <div
    class="sakana-box"
    style="height : 50px; bottom:0;"
  >
  </div>
  
<script>
  import Sakana from "sakana";
  Sakana.init({
    el: ".sakana-box", // 启动元素 node 或 选择器
    scale: 0.5, // 缩放倍数
    canSwitchCharacter: true, // 允许换角色
  });
</script> -->
</footer>
